@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Space Grotesk', sans-serif;
    --color-surface: var(--color-gray-50);
    --color-text: var(--color-gray-800);
    --color-border: var(--color-gray-200);
}

.dark {
    --color-surface: var(--color-gray-950);
    --color-text: var(--color-gray-200);
    --color-border: var(--color-gray-800);
}

@variant dark (&:where(.dark, .dark *));